
body {
  background-color: rgba(91, 42, 16, 0.876);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: repeat(3, 160px);
  column-gap: 100px;
  row-gap: 60px;
  border: none;
}

.cards {
  background-color: #ffc5e4;
  border: 12px solid  rgb(255, 255, 255);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  }

header {
  color: #ffc5e4;
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 5px
}