
body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cards {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: repeat(3, 160px);
  column-gap: 100px;
  row-gap: 60px;
  border: none;
  perspective: 1000px;
}

.card {
  background-color: rgb(144, 238, 255);
  border: 12px solid rgb(255, 255, 255) ;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  transform-style: preserve-3d;
  transition: transform .5s
  }

.card:hover {
  transform: scale(1.03);
  }

header {
  color:rgb(239, 24, 128);
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  font-family: 'Rye', cursive;
  
}

.card img {
width: 80%;
max-height: 90px;
}

.card.flip {
  transform: rotateY(180deg)
}

button {
  background-color: #ffc5e4;
  color:rgb(239, 24, 128);
  border:5px solid rgb(239, 24, 128);
  align-content: center;
  visibility : hidden;
  margin-top : 2px;
  font-family: 'Rye', cursive;
  
}

button:hover {
  background-color: rgb(239, 24, 128);
  color: #ffc5e4
}

h1 {
  color:rgb(239, 24, 128);
  font-family: 'Rye', cursive;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}